[bumpversion]
current_version = 0.0.10
commit = True
tag = True
tag_name = {new_version}

[bumpversion:file:dataloop.json]
search = {current_version}
replace = {new_version}


[bumpversion:file:processing/office_convert/dataloop.json]
search = {current_version}
replace = {new_version}

[bumpversion:file:processing/generate_thumbnail_dicom/dataloop.json]
search = {current_version}
replace = {new_version}

[bumpversion:file:processing/create_preview_usd/dataloop.json]
search = {current_version}
replace = {new_version}

[bumpversion:file:processing/generate_thumbnails_mesh/dataloop.json]
search = {current_version}
replace = {new_version}